body {
    background-color: black;
    width: 100%;
    height: auto;
}

.header {
    position:absolute;
}

.headerContainer {
    color:aqua;
    border-color: aqua;
    border: 2px solid;
    margin-left: 10%;
    margin-right: 10%;
}

.diceborder {
    margin-left: 10%;
    margin-right: 10%;
    border: 2px solid aqua;

}

.diceinfo{
    color: aqua;
}

.btn-group {
    margin-left: 10%;
    margin-right: 10%;
    color: aqua;
    background-color: aqua;
}

#dicebutton {
    border: 2px solid white;
}




.table, tr, td, th{
    border: 4px solid aqua;
    margin-left:10%;
    margin-right:10%;
    text-align: center;
    color: aqua;
    background-color: black;
    
}

#numberOfDiceInfo {
    color:aqua;
    font-size:20px;
    margin-left: 5%;
}

#typeOfDiceInfo {
    color:aqua;
    font-size:20px;
    margin-right: 5%;
}

th {
    background-color:aqua;
}

.hex {
    width: 200px;
    height: 200px;
    border: 3px solid black;
    border-radius: var(--bs-border-radius);
    /* Rotate the square by 45 degrees */
    transform: rotate(45deg);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 8rem;
}

.getDiceStats {
    color: black;
    background-color: aqua;
}

.content {
    /* Rotate the content back to its original orientation */
    transform: rotate(-45deg);
    text-align: center;

}

.centered-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
}

body > section.diceborder > p.currentResult {
    text-align: center;
    color: aqua;
    font-size: 30px;
}

#currentResults {
    align-content: center;
    color: aqua;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 25px;
}
.diceinfo {
    font-family: 'Courier New', Courier, monospace; /* Example font */
    font-size: 25px;
    color:aqua;
    text-align: center;

}

body > header > div > h1 {
    color: aqua;
    font-size: 40px;
    margin-top:5%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}


body > header > div > h2 {
    color: aqua;
    font-size: 20px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
}

body > section.diceborder > p.diceinfo {
    color: aqua;
    font-size: 40px;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

.numberDice {
    color:aqua;
}


.table {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    background-color: black;
    color: aqua;
    
}

div.modal-header {
    border:hidden;
}

div.modal-footer {
    border:hidden;
}